{% extends 'main/page.html.twig' %}

{% block title %}Qui suis-je ?
{% endblock %}

{% block sections %}
	<section class="page-section" id="about">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat dolorem nihil accusamus libero dolores mollitia suscipit deserunt quo odio quaerat! Expedita, consequuntur inventore natus earum delectus laborum ab! Reiciendis, facilis.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
