{% extends 'main/page.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block sections %}
	<section class="page-section" id="about">
		<div class="container">
			<div class="row">
				<div class="col-6 text-center">
					<img src="{{asset('img/nico.jpg')}}" alt="appareil" style="height:100%;width:100%"><p class="text-secondary"> Photo parfaite, ne pas changer</p>
				</div>
				<div class="col-6 text-center my-auto">
					<p>Lorem ipsum, dolor sit amet consectetur ?adipisicing elit. Placeat dolorem nihil accusamus libero dolores mollitia suscipit deserunt quo odio quaerat! Expedita, consequuntur inventore natus earum delectus laborum ab! Reiciendis, facilis.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
