{% extends 'main/page.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block sections %}
	<section class="page-section-small">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">

					<select class="form-control" id="" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
						<option value="{{path('portfolio')}}" selected>Toutes les catégories</option>
						{% for category in categories %}
							<option value="{{path('portfolio', {id: category.id})}}" {% if selectedCategory and category.id == selectedCategory.id %} selected {% endif %}>
								{{category.title}}
							</option>
						{% endfor %}
					</select>

				</div>
			</div>
		</div>
	</section>
	<div id="portfolio">
		<div class="container-fluid p-0">
			<div class="row no-gutters">

				{% for category in categories %}
					{% if selectedCategory == null or category.id == selectedCategory.id  %}
						{% for video in category.videos %}
							<div
								class="col-lg-4 col-sm-6">
								<!-- 16:9 aspect ratio -->
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" allowfullscreen="" title="youtube Video Player" src="https://www.youtube.com/embed/{{video.youtubeId}}?feature=oembed&amp;start&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=1&amp;mute=0&amp;rel=0&amp;modestbranding=0"></iframe>
								</div>
							</div>
						{% endfor %}
					{% endif %}

				{% endfor %}

			</div>
		</div>
	</div>

	<section class="page-section" id="contact">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<h2 class="mt-0">Lorem ipsum dolor sit amet.</h2>
					<hr class="divider my-4"/>
					<p class="text-muted mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt illo recusandae id voluptate, quam saepe dolor.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
					<i class="fas fa-phone fa-3x mb-3 text-muted"></i>
					<div>+33 7 00 00 00 00</div>
				</div>
				<div class="col-lg-4 mr-auto text-center">
					<i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
					<!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
					<a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
