{% extends 'main/page.html.twig' %}

{% block title %}Project UPO UVP
{% endblock %}

{% block sections %}
	<section class="page-section" id="about">
		<div class="container">
			<div class="row">
					<img src="{{asset('img/clap.jpg')}}" alt="appareil" style="height:100%;width:100%">
			</div>
		</div>
	</section>
{% endblock %}
