.hidden {
  opacity: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#goToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #546de3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

@font-face {
  font-family: "Futura";
  src: url("fonts/futura/FuturaMediumBT.ttf") format("truetype");
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  /* The html and body elements cannot have any padding or margin. */
  font-family: "Futura";
  overflow-x: hidden;
}

video {
  width: 100%;
  height: auto;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by it's height */
  margin-bottom: -163px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 163px;
  margin-bottom: 0;
}

#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#mainNav .navbar-text {
  font-size: 1rem;
} 

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #212529 ;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover{
  color: #546de3 !important;
}

.active {
  background-color: white;
  color: #546de3 !important;
}

@media (max-width: 992px) {
  .page {
    padding-top: 72px;
  }
}

@media (min-width: 992px) {
  .page {
    padding-top: 146px;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0 1rem;
  }

  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
