{% extends 'base.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}

	{% embed "partials/admin_page.html.twig" %}
		{% import "macros/macros.html.twig" as macros %}
		{% block table %}
			<div class="row">
				<div class="col-9">
					<h2>Messages</h2>
					<p>Voici la liste des messages :</p>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Email</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					{% for message in messages %}
						<tr>
							<td>{{message.name}}</td>
							<td>{{message.email}}</td>
							<td><p>{{message.content| nl2br}}
							</p></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% endblock %}

	{% endembed %}
{% endblock %}
