{% extends 'base.html.twig' %}

{% block title %}Messages
{% endblock %}

{% block body %}

	{% embed "partials/admin_page.html.twig" %}
		{% import "macros/macros.html.twig" as macros %}
		{% block table %}
			<div class="row">
				<div class="col-9">
					<h2>Messages</h2>
				</div>
			</div>
			<hr>
			<br>

			{% for message in messages %}
				<h5>
					<b>De :</b>
					{{message.name}}</h5>
				<p>
					{{message.content| nl2br}}
				</p>
				<h5>
					<b>Répondre :</b>
					<a href="mailto:{{message.email}}">{{message.email}}</a>
				</h5>
				<br>
				<hr>
				<br>
			{% endfor %}

		{% endblock %}
	{% endembed %}
{% endblock %}
